include index.html


html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Twitter Bot | Dashboard
    // Bootstrap Core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/sb-admin.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='stylesheets/plugins/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='stylesheets/bootstrap-switch.min.css', rel='stylesheet')

    

    // My Styles
    link(href='stylesheets/index-style.css', rel='stylesheet')

    // jQuery
    script(src='javascripts/jquery.js')
    // My JavaScript
    script(src='javascripts/myscript.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      script(src='javascripts/market-place-ajax.js')

  body
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/dashboard') Twitter Bot Admin V1.0
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-envelope
              b.caret
            ul.dropdown-menu.message-dropdown
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong #{user.username}
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong #{user.username}
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong #{user.username}
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-footer
                a(href='#') Read All New Messages
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-bell
              b.caret
            ul.dropdown-menu.alert-dropdown
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-default Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-primary Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-success Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-info Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-warning Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-danger Alert Badge
              li.divider
              li
                a(href='#') View All
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user.username} 
              b.caret
            ul.dropdown-menu
              li
                a(href='/me')
                  i.fa.fa-fw.fa-user
                  |  Profile
              li
                a(href='#')
                  i.fa.fa-fw.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-fw.fa-gear
                  |  Settings
              li.divider
              li
                a(href='logout')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li.active
              a(href='/')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard
            li
              a(href='charts')
                i.fa.fa-fw.fa-bar-chart-o
                |  Charts
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                i.fa.fa-fw.fa-arrows-v
                |  Account Options
                i.fa.fa-fw.fa-caret-down
              ul#demo.collapse
                li
                  a(href='#') Manage Accounts
                li
                  a(href='#' data-toggle="modal" data-target="#new-account-modal") New Account
            li
              a(href='forms')
                i.fa.fa-fw.fa-edit
                |  Forms
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            // Flash Messages
            if success && success.length > 0
              .alert.alert-success.alert-dismissible.fade-in(role="alert")
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") ×
                p= success
            .col-lg-12
              h1.page-header
                | Dashboard 
                small Statistics Overview
                .col-lg-2.pull-right
                  if running
                    input(id='auto-switch' type="checkbox" name="my-checkbox" data-on-text='ONLINE' data-off-text='OFFLINE' checked data-label-text='Auto')
                  else
                    input(id='auto-switch' type="checkbox" name="my-checkbox" data-on-text='ONLINE' data-off-text='OFFLINE' data-label-text='Auto')
                .col-lg-3.pull-right
                  if manualRunning
                    input(id='manual-switch' type="checkbox" name="my-checkbox" data-on-text='ONLINE' data-off-text='OFFLINE' checked data-label-text='Manual')
                  else
                    input(id='manual-switch' type="checkbox" name="my-checkbox" data-on-text='ONLINE' data-off-text='OFFLINE' data-label-text='Manual')
              ol.breadcrumb
                li.active
                  i.fa.fa-dashboard
                  |  dashboard
          // /.row
          .row
            .col-lg-3.col-md-6
              .panel.panel-primary
                .panel-heading
                  .row
                    .col-xs-3
                      i.fa.fa-user.fa-5x
                    .col-xs-9.text-right
                      .huge #{userCount.count}
                      div Total Users!
                a(href='#').js-total-users
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
            .col-lg-3.col-md-6
              .panel.panel-green
                .panel-heading
                  .row
                    .col-xs-3
                      i.fa.fa-users.fa-5x
                    .col-xs-9.text-right
                      .huge #{accountCount.count}
                      div Active Accounts!
                a(href='#' data-toggle="modal" data-target="#show-accounts-modal").js-active-accounts
                  .panel-footer
                    span.pull-left.js-active-accounts View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
            .col-lg-3.col-md-6
              .panel.panel-yellow
                .panel-heading
                  .row
                    .col-xs-3
                      i.fa.fa-hourglass.fa-5x
                    .col-xs-9.text-right
                      .huge.js-total-records
                      div Recent Records!
                a(href='#' data-toggle="modal" data-target="#show-records-modal").js-get-records
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
            .col-lg-3.col-md-6
              .panel.panel-red
                .panel-heading
                  .row
                    .col-xs-3
                      i.fa.fa-users.fa-5x
                    .col-xs-9.text-right
                      .huge.js-total-manual-accounts
                      div Manual Accounts!
                a(href='#').js-disabled-accounts
                  div(data-toggle="tooltip" data-placement="bottom" title="Feature Disabled!").panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
          // /.row
          .row
            .col-lg-12
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-bar-chart-o.fa-fw
                    |  Account Volume
                .panel-body
                  #morris-area-chart
          // /.row
          .row
            .col-lg-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-long-arrow-right.fa-fw
                    |  Donut Chart
                .panel-body
                  #morris-donut-chart
                  .text-right
                    a(href='#')
                      | View Details 
                      i.fa.fa-arrow-circle-right
            .col-lg-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-clock-o.fa-fw
                    |  Tasks Panel
                .panel-body
                  .list-group
                    a.list-group-item(href='#')
                      span.badge just now
                      i.fa.fa-fw.fa-calendar
                      |  Calendar updated
                    a.list-group-item(href='#')
                      span.badge 4 minutes ago
                      i.fa.fa-fw.fa-comment
                      |  Commented on a post
                    a.list-group-item(href='#')
                      span.badge 23 minutes ago
                      i.fa.fa-fw.fa-truck
                      |  Order 392 shipped
                    a.list-group-item(href='#')
                      span.badge 46 minutes ago
                      i.fa.fa-fw.fa-money
                      |  Invoice 653 has been paid
                    a.list-group-item(href='#')
                      span.badge 1 hour ago
                      i.fa.fa-fw.fa-user
                      |  A new user has been added
                    a.list-group-item(href='#')
                      span.badge 2 hours ago
                      i.fa.fa-fw.fa-check
                      |  Completed task: "pick up dry cleaning"
                    a.list-group-item(href='#')
                      span.badge yesterday
                      i.fa.fa-fw.fa-globe
                      |  Saved the world
                    a.list-group-item(href='#')
                      span.badge two days ago
                      i.fa.fa-fw.fa-check
                      |  Completed task: "fix error on sales page"
                  .text-right
                    a(href='#')
                      | View All Activity 
                      i.fa.fa-arrow-circle-right
            .col-lg-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-money.fa-fw
                    |  Transactions Panel
                .panel-body
                  .table-responsive
                    table.table.table-bordered.table-hover.table-striped
                      thead
                        tr
                          th Order #
                          th Order Date
                          th Order Time
                          th Amount (USD)
                      tbody
                        tr
                          td 3326
                          td 10/21/2013
                          td 3:29 PM
                          td $321.33
                        tr
                          td 3325
                          td 10/21/2013
                          td 3:20 PM
                          td $234.34
                        tr
                          td 3324
                          td 10/21/2013
                          td 3:03 PM
                          td $724.17
                        tr
                          td 3323
                          td 10/21/2013
                          td 3:00 PM
                          td $23.71
                        tr
                          td 3322
                          td 10/21/2013
                          td 2:49 PM
                          td $8345.23
                        tr
                          td 3321
                          td 10/21/2013
                          td 2:23 PM
                          td $245.12
                        tr
                          td 3320
                          td 10/21/2013
                          td 2:15 PM
                          td $5663.54
                        tr
                          td 3319
                          td 10/21/2013
                          td 2:13 PM
                          td $943.45
                  .text-right
                    a(href='#')
                      | View All Transactions
                      i.fa.fa-arrow-circle-right
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper



    // Modal
#show-accounts-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Active Accounts
      .modal-body
        table.table.table-striped
          thead
            tr
              th ID
              th Username
              th Email
              th Completed Trades / Cycle
          tbody.js-accounts

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close



    // Modal
#show-records-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Active Records
      .modal-body
        table.table.table-striped
          thead
            tr
              th Username
              th Trades Completed
              th TimeStamp
          tbody.js-records

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close

    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Morris Charts JavaScript
    script(src='javascripts/plugins/morris/raphael.min.js')
    script(src='javascripts/plugins/morris/morris.min.js')
    script(src='javascripts/plugins/morris/morris-data.js')
    // jQuery
    script(src='javascripts/jquery.js')
    script(src='javascripts/account-ajax.js')
    script(src='javascripts/records-ajax.js')
    script(src='javascripts/total-records-ajax.js')
    script(src='javascripts/myscript.js')
    // Switch
    script(src='javascripts/bootstrap-switch.min.js')
    script(src='javascripts/market-place-ajax.js')





